@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
	body { font-family:"Nanum Gothic"; }
	.mainwrapper {
		/*background-color: #99e6ff;*/
		position: relative;
		top:0px;
		left:0px;
		max-width:100%;
		height: 80px;
	}
	.logo{
		position: absolute;
		font-size: 25px;
		top:7%;
		left:3%;
		width:300px;
	}
	.loginForm{
		position: absolute;
		top:3%;
		margin-left: 400px;
		text-align:right;
		width:70%;	
		float:right;
	}
	.mainmenu{
		position: absolute;
		top:70%;
		width:100%;	
		text-align:center;
	}