@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
	body { font-family:"Nanum Gothic"; }
	.soQna{
		position: relative;
		border: 1px solid grey;
		margin-top:30px;
		width: 100%;
		height: 400px;
	}
	.soQna_View{
		position: absolute;
		border: 1px solid grey;
		margin-top: 20px;
		margin-left: 25%;
		width: 700px;
	}
	.soQna_tbl td{
		border-top: 1px solid lightgrey;
	}