@charset "UTF-8";

footer {
	display:block;
	min-width:1200px;
	text-align:center;
	background-color:#000;
	color:#858585;
	height:50px;
	font-size:12px;
	margin-top:50px;
}

footer p{
	display:block;
	padding-top:20px;
}