@charset "UTF-8";

#login_wrap {
	diaplay:block;
	position:relative;
}

#login_wrap a {
	display:block;
	position:absolute;
	top:0;
	right:0;
}

#login_wrap #login {
	display:block;
	float:left;
	margin-top:9px;
	font-size:16px;
	color:#fff;
}

#lgoin_icon {
	float:right;
}