@charset "UTF-8";

/* ================================= header ================================= */
#header {
	position:relative; 
	min-width:1200px;
	height:350px; 
}

#logo {
	display:block; 
	margin-left:50%; 
	width:274px; 
	height:88px;
	position:absolute; 
	top:90px; 
	left:-137px;
}

#logo img {width:100%;}

.slide_wrap {
    width:100%;
}
.slide {
    padding-left: 0;
    margin-bottom:0;
}
.slide li {
    display: block;
    position:absolute;
    top:0;
    height:350px; 
    width:100%;
}

.slide li:first-child {
	background:url('../images/main_bg01.jpg') no-repeat;
	background-position:center center;
	background-size:cover;
}
.slide li:nth-child(2) {
	background:url('../images/main_bg02.jpg') no-repeat;
	background-position:center center;
	background-size:cover;
}
.slide li:nth-child(3) {
	background:url('../images/main_bg03.jpg') no-repeat;
	background-position:center center;
	background-size:cover;
}
.slide li:nth-child(4) {
	background:url('../images/main_bg04.jpg') no-repeat;
	background-position:center center;
	background-size:cover;
}
.slide li:last-child {
	background:url('../images/main_bg05.jpg') no-repeat;
	background-position:center center;
	background-size:cover;
}

/* ================================= center ================================= */
#content_wrapper {
	position:relative;
	display:block;
	min-width:1200px;
	padding-bottom:140px;
}

*html #content_wrapper { height:100%;}

/* ================================= footer ================================= */
#footer {
	position:relative;
	bottom:0;
	display:block;
	min-width:1200px;
}