@charset "UTF-8";

/* ================================= header ================================= */
#header {
	position:relative; 
	height:350px; 
	min-width:1200px;
	background:url('../images/main_bg01.jpg') no-repeat;
	background-position:center center;
	background-size:cover;
}

#logo {
	display:block; 
	margin-left:50%; 
	width:274px; 
	height:88px;
	position:absolute; 
	top:90px; 
	left:-137px;
}

#logo img {width:100%;}

/* ================================= center ================================= */
#center_wrapper {
	position:relative;
	display:block;
	min-width:1200px;
}

/* ================================= footer ================================= */
