@charset "UTF-8";

#join_content_wrapper {
	position:relative;
	display:block;
	min-width:1200px;
	padding-bottom:90px;
}

*html #join_content_wrapper { height:100%;}

#join_title {
	display:block;
	position:relative;
	left:-105px;
	margin-top:80px;
	margin-left:50%;
	font-family: gotham_Bold; 
	font-style: normal; 
	font-weight: normal;
	font-size:50px;
	color:#5e5e5e;
}

#join_content_wrapper {
	display:block;
	position:relative;
	left:-221px;
	margin-top:50px;
	margin-left:50%;
}

.join_title{
	display:inline-block;
	width:120px;
	padding:12px 0;
	font-size:14px;
	color:#5e5e5e;
	margin-right:30px;
}

.join_text {
	width:283px; /* border 1px 1px */
	height:38px; /* border 1px 1px */
	border:1px solid #e0e0e0;
	padding-left:15px;
}

/* 검색 placeholder */
.join_text::-webkit-input-placeholder{font-size:14px;color:#a5a5a5; }  /* Chrome/Opera/Safari */
.join_text:-moz-placeholder{font-size:14px;color:#a5a5a5;}			   /* Mozilla Firefox 4 to 18 */
.join_text::-moz-placeholder{font-size:14px;color:#a5a5a5;}		   /* Mozilla Firefox 19+ */
.join_text:-ms-input-placeholder{font-size:14px;color:#a5a5a5;}	   /* Internet Explorer 10+ */

#join_content_wrapper input {
	outline:none;
	-webkit-appearance: none;
   	-webkit-border-radius: 0;
}

#join_content_wrapper button {
	border:none;
	cursor:pointer;
}

#mPhone1{
	width:80px;
	height:40px;
}

#mPhone_number {
	width:80px;
}

#mPhone2{
	width:80px;
	height:40px;
}

#mPhone3{
	width:80px;
	height:40px;
}
