@charset "UTF-8";

/* ================================= search ================================= */
/* 검색 창 */
#search {
	position:absolute; 
	top:250px; 
	left:-275px;
	width:485px; 
	height:48px; /* border 1px */
	margin-left:50%;
	padding-left:15px;
	border:1px solid #fff;
	outline:none;
}

/* 검색 placeholder */
#search::-webkit-input-placeholder{font-size:16px;color:#a3a3a3; }  /* Chrome/Opera/Safari */
#search:-moz-placeholder{font-size:16px;color:#a3a3a3;}			   /* Mozilla Firefox 4 to 18 */
#search::-moz-placeholder{font-size:16px;color:#a3a3a3;}		   /* Mozilla Firefox 19+ */
#search:-ms-input-placeholder{font-size:16px;color:#a3a3a3;}	   /* Internet Explorer 10+ */


/* 검색 버튼 */
#search_btn {
	position:absolute;
	top:250px;
	left:225px;
	margin-left:50%;
	width:50px;
	height:50px;
	background:url('../images/search_icon.png') no-repeat;
	background-position:center center;
	background-size:27px 28px;
	background-color:#ffa827;
	border:1px solid #fff;
}

/* ================================= subway ================================= */
/* 지하철 wrap */
#subway_wrap {
	position:relative;
	top:50px;
	left:-305px;
	margin-left:50%;
	width:610px;
	text-align:center;
	z-index:10;
}

#line_wrap {
	display:block;
	float:left;
	width:300px;
	max-width:300px;
	font-family: 'Open Sans', sans-serif;
}

#line_btn {
	display:block;
	width:300px;
	height:60px;
	background-color:#ffa827;
	color:#fff;
	border:0;
	outline:0;
	cursor:pointer;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
}

#line_wrap ul {
	display:none;
	height:252px;
	overflow-y:scroll;
}

#line_wrap ul li {
	width:296px; /* border : 2px 2px */
	max-width:300px;
	height:56px; /* border : 2px 2px */
	margin-top:1px;
	font-size:21px;
	color:#fff;
	cursor:pointer;
	font-family: gotham_Bold; 
	font-style: normal; 
	font-weight: normal;
	background-color:#fff;
}

#line_wrap ul .line_korean {
	font-size:18px; 
	font-weight:900;
	font-family: 'Open Sans', sans-serif;
}

#line_wrap ul li span {
	display:inline-block;
	padding:5px 10px;
	border-radius:100px;
	margin-top:11px;
}

#line_wrap ul .line_korean span {
	padding:4px 11px;
	border-radius:25px;
}

/* 1호선 */
#line_wrap ul li:first-child {border:2px solid #273c97;}
#line_wrap ul li:first-child span {background-color:#273c97; padding:5px 13px;}

/* 2호선 */
#line_wrap ul li:nth-child(2) {border:2px solid #3cb54c;}
#line_wrap ul li:nth-child(2) span {background-color:#3cb54c;}

/* 3호선 */
#line_wrap ul li:nth-child(3) {border:2px solid #ff7300;}
#line_wrap ul li:nth-child(3) span {background-color:#ff7300;}

/* 4호선 */
#line_wrap ul li:nth-child(4) {border:2px solid #2c9edd;}
#line_wrap ul li:nth-child(4) span {background-color:#2c9edd;}

/* 5호선 */
#line_wrap ul li:nth-child(5) {border:2px solid #8735df;}
#line_wrap ul li:nth-child(5) span {background-color:#8735df;}

/* 6호선 */
#line_wrap ul li:nth-child(6) {border:2px solid #b54e09;}
#line_wrap ul li:nth-child(6) span {background-color:#b54e09;}

/* 7호선 */
#line_wrap ul li:nth-child(7) {border:2px solid #697219;}
#line_wrap ul li:nth-child(7) span {background-color:#697219;}

/* 8호선 */
#line_wrap ul li:nth-child(8) {border:2px solid #e21f6e;}
#line_wrap ul li:nth-child(8) span {background-color:#e21f6e;}

/* 9호선 */
#line_wrap ul li:nth-child(9) {border:2px solid #cfa539;}
#line_wrap ul li:nth-child(9) span {background-color:#cfa539;}

/* 신분당선 */
#line_wrap ul li:last-child {border:2px solid #ac1735;}
#line_wrap ul li:last-child span {background-color:#ac1735;}

#station_wrap {
	display:block;
	float:right;
	width:300px;
	max-width:300px;
	font-family: 'Open Sans', sans-serif;
}

#station_btn{
	display:block;
	width:300px;
	height:60px;
	background-color:#ffa827;
	color:#fff;
	border:0;
	outline:0;
	cursor:pointer;
	font-size:15px;
}

#station_wrap ul {
	display:none;
	height:252px;
	overflow-y:scroll;
}

#station_1 li {
	display:block;
	width:296px; /* border : 2px 2px */
	max-width:300px;
	height:56px; /* border : 2px 2px */
	margin-top:1px;
	font-size:18px;
	font-weight:900;
	color:#273c97;
	border:2px solid #273c97;
	cursor:pointer;
	background-color:#fff;
}

#station_1 li span {
	display:inline-block;
	padding-top:15px;
}

.emphasized {
display: none;
z-index: 10;
position: fixed;
left: 0; 
top:0;
width: 100%; 
height: 100%;
background-color: rgba(0,0,0,0.5);
overflow-x: hidden;
}



/* ================================= keyword ================================= */

/* 카테고리 3개 감싸고 있는 id */
#cate_wrap {
	display:block;
	position:relative;
	top:140px;
	left:-305px;
	margin-left:50%;
	text-align:center;
}

.category {
	display:block;
	width:610px;
	margin-top:30px;
}

#cate_wrap > div:first-child {
	margin-top:0px;
}

/* 카테고리 버튼 */
.cate_btn {
	display:block;
	position:relative;
	width:100%;
	height:60px;
	background-color:#ffa827;
	color:#fff;
	font-size:21px;
	font-weight:900;
	letter-spacing:64px;
	cursor:pointer;
}

.cate_btn > p {
	display:block;
	position:absolute;
	top:15px;
	left:255px;

}

/* 2번째 버튼 color */
#cate_wrap > div:nth-child(2) .cate_btn {
	background-color:#fff;
	border:2px solid #ffa827;
	color:#ffa827;
}

/* 카테고리 버튼 icon */
.cate_icon {
	display:block;
	position:absolute;
	top:22px;
	right:30px;
}

.cate_icon span {
	display:block;
	background-color:#fff;
	width:20px;
	height:2px;
	margin-top:5px;
}

.cate_icon span:first-child{
	margin-top:0;
}

/* 2번째 버튼 icon color */
#cate_wrap > div:nth-child(2) .cate_btn .cate_icon span{
	background-color:#ffa827;
}

/* 카테고리 리스트 */
.list {
	display:block;
	width:100%;
	height:110px;
}

.list li {
	float:left;
	margin:5px 3px 0 0;
}

.list li:nth-child(4n) {
	float:right;
	margin-right:0;
}

.list li button {
	width:100%;
	outline:0;
	width:150px; 
	height:50px; 
	border-radius:10px;
	border:2px solid #ffa827;
	font-size:18px;
	font-weight:900;
	color:#ffa827;
	background-color:#fff;
	cursor:pointer;
}
