@charset "UTF-8";

/* ================================= search ================================= */
/* 검색 창 */
#search {
	width:485px; 
	height:46px;
	margin-left:50%;
	padding-left:15px;
	position:absolute; 
	top:250px; 
	left:-275px;
	border:1px solid #fff;
	outline:none;
}

/* 검색 placeholder */
#search::-webkit-input-placeholder{font-size:16px;color:#a3a3a3; }  /* Chrome/Opera/Safari */
#search:-moz-placeholder{font-size:16px;color:#a3a3a3;}			   /* Mozilla Firefox 4 to 18 */
#search::-moz-placeholder{font-size:16px;color:#a3a3a3;}		   /* Mozilla Firefox 19+ */
#search:-ms-input-placeholder{font-size:16px;color:#a3a3a3;}	   /* Internet Explorer 10+ */


/* 검색 버튼 */
#search_btn {
	position:absolute;
	top:250px;
	left:225px;
	margin-left:50%;
	width:50px;
	height:50px;
	background:url('../images/search_icon.png') no-repeat;
	background-position:center center;
	background-size:27px 28px;
	background-color:#ffa827;
	border:1px solid #fff;
}

/* ================================= subway ================================= */
/* 지하철 wrap */
#subway_wrap {
	position:absolute;
	top:50px;
	left:-305px;
	margin-left:50%;
	width:610px;
	height:60px;
}

#prettydropdown-line ul {
	position:absolute;
	top:0;
	right:0;
	width:300px;
	text-align:center;
	border:none;
}

#prettydropdown-line ul > #item1520844833614-1{
	background-color:#273c97;
}

#prettydropdown-line ul > #item1520844650256-2{
	background-color:#3cb54c;
}

#prettydropdown-line ul > #item1520844650256-3{
	background-color:red;
}

#prettydropdown-line ul li span{
	display:none;
	border:1px solid red;
}

#prettydropdown-station ul {
	position:absolute;
	top:0;
	right:0;
	width:300px;
	text-align:center;
}

#prettydropdown-station ul li span{
	display:none;
	border:1px solid red;
}
