<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MBoardMapper">

	<select id="mNoticeList" parameterType="hashmap" resultType="MNoticeDTO">
		select noticeNum, noticeTitle, noticeContent, to_char(noticeWritedate,'YYYY-MM-DD') as noticeWritedate, noticeWriter, noticeReadcnt
		from noticetom
		
		<if test="searchName=='title'">
			where noticeTitle like '%'||#{searchValue}||'%'
		</if>
		<if test="searchName=='content'">
			where noticeContent like '%'||#{searchValue}||'%'
		</if>
		order by noticeNum desc
	</select>


	<select id="totalCnt" resultType="int">
     select count(*)
     from noticetom
    </select>
    
    <select id="totalSearchCnt" resultType="int" parameterType="hashmap">
     select count(*)
     from noticetom
     <if test="searchName == 'title'">
	     where noticeTitle LIKE '%'||#{searchValue}||'%'
	   </if>
	   <if test="searchName == 'content'">
	     where noticeContent LIKE '%'||#{searchValue}||'%'
	   </if>
    </select>
    
    
     <!-- 공지사항 자세히 보기 -->
    <select id="mNoticeRetrieve" parameterType="int" resultType="MNoticeDTO">
		select noticeNum, noticeTitle, noticeContent, to_char(noticeWritedate,'YYYY-MM-DD') as noticeWritedate, noticeWriter, noticeReadcnt
		from noticetom
		where noticeNum=#{noticeNum}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="mNoticeReadCnt" parameterType="int">
	    update noticetom
	    set noticeReadcnt = noticeReadcnt + 1
	    where noticeNum = #{noticeNum}
	</update>
</mapper>