<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SMapper">
	<insert id="sAdd" parameterType="SDTO">
		insert into shop(sCode,sName,soId,sPost,sAddr,sPhone,sCategory,sBusinesshours,sParkinglot,sTerrace,sMenu)
		values(#{sCode},#{sName},#{soId},#{sPost},#{sAddr},#{sPhone},#{sCategory},#{sBusinesshours},#{sParkinglot},#{sTerrace},#{sMenu})
	</insert>
	
	<update id="sImageAdd" parameterType="hashmap">
		update shop 
		set sImage=#{sImage}
		where sCode=#{sCode}
	</update>
	
	<select id="sInfo" parameterType="string" resultType="SDTO">
		select sCode,sName,soId,sPost,sAddr,sPhone,sCategory,sBusinesshours,sParkinglot,sTerrace,sImage,sLike,sHate,sMenu
		from shop
		where soId=#{soId}
	</select>
	
	<select id="sCodeInfo" parameterType="string" resultType="string">
		select sCode
		from shop
		where soId=#{soId}
	</select>
</mapper>