<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SMapper">
	<insert id="sAdd" parameterType="SDTO">
		insert into shop(sCode,sName,soId,sPost,sAddr,sPhone,sCategory)
		values(#{sCode},#{sName},#{soId},#{sPost},#{sAddr},#{sPhone},#{sCategory})
	</insert>
</mapper>