<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SoMapper">
	<select id="soIdCheck" parameterType="string" resultType="int">
		select count(*) 
		from shopowner
		where soId=#{soId}
	</select>
	
	<insert id="soAdd" parameterType="SoDTO">
		insert into shopowner(soId,soPasswd,soName,soPhone,soLicense,soPost,soAddr)
		values(#{soId},#{soPasswd},#{soName},#{soPhone},#{soLicense},#{soPost},#{soAddr})
	</insert>
	
	<select id="login" parameterType="hashmap" resultType="SoDTO">
    	select soId,soPasswd,soName,soPhone,soLicense,soPost,soAddr,soLevel,to_char(soJoindate,'YYYY-MM-DD') as soJoindate
   		from shopowner
   		where soId = #{soId} and soPasswd=#{soPasswd}
  	</select>	
  	
  	<select id="myPage" parameterType="string" resultType="SoDTO">
    	select soId,soPasswd,soName,soPhone,soLicense,soPost,soAddr,soLevel,to_char(soJoindate,'YYYY-MM-DD') as soJoindate
   		from shopowner
   		where soId = #{soId}
	</select>	
  
</mapper>