<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ShopMapper">

	<select id="selectAll" resultType="ShopDTO">
		select * from shop
	</select>
	
	<select id="selectShop" parameterType="String" resultType="ShopDTO">
		select * from shop
		where sCode = #{sCode}
	</select>
	
	<select id="selectByStation" parameterType="String" resultType="ShopDTO">
		select * from shop
		where ssubway = #{station}
	</select>

	<select id="search" parameterType="arraylist" resultType="ScoreDTO">
		select scategory, scode, good, bad
		from score
		where scategory in
		<foreach collection="list" item="item" separator=",">
			#{item}
		</foreach>
	</select>
	
	<select id="isInterest" parameterType="hashmap" resultType="InterestDTO">
		select iNum from interest
		where mId = #{mId} or sCode = #{sCode}
	</select>
	
	<insert id="insertInterest" parameterType="hashmap">
		insert into interest(iNum, mId, sCode)
		values (#{iCode}, #{mId}, #{sCdoe})
	</insert>
	
	<delete id="deleteInterest" parameterType="hashmap">
		delete from interest
		where iNum=#{iCode}
	</delete>
	
	
</mapper>