@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
	body { font-family:"Nanum Gothic"; }
	.welcome{
		margin-top: 70px;
		margin-left: 50px;
		font-size: 20px;
		text-align: center;
		color: grey;
	}
	/* 회원정보 입력 테이블*/
	.join_tbl {
		position: fixed;
		margin-top:15px;
		height:700px;
		width: 500px;
		left:3%;
	}
	th{
		width: 150px;
	}
	input{
		height:30px;
		margin-top: 5px;
	}
	#result1,#result2,#result3{
		font-size:10px;
		color: red;
	}
	.btn_addr{
		border: 1px solid #000033;
		background-color: white;
	
	}
	
	/* 회원가입 완료, 취소 테이블  */
	.joincomplete{
		margin-left: auto;
        margin-right: auto;
	}
	
	.btn_submit {
		border: 1px solid #000033;
		background-color: #000033;
		margin-top: 20px;
		height:35px;
		width: 300px;
		/*color: white;*/
	}
	
	.btn_cancel{
		border: 1px solid #000033;
		background-color: white;
		margin-top: 10px;
		height:35px;
		width: 300px;
		/*color: white;*/
	}

	/* 약관  */
	.term_1{
		position: fixed;
		margin-left:500px;
		font-size: 13px;
	}
	.term_2{
		position: fixed;
			margin-left:500px;
		font-size: 13px;
	}
	.term_3{
		position: fixed;
		margin-left:500px;
		font-size: 13px;
	}
	.term_1{
		margin-top:20px;
	}
	.term_2{
		margin-top:210px;
	}
	.term_3{
		margin-top:400px;
	}
	/* 약관 동의 체크박스 */
	#term_1{
		
	}
	.term_headline{
		position: fixed;
		left:650px;
	}
	.term_text{
		font-size: 12px;
	}
	.term_stress{
		color:red;	
	}
	.bx_term_agree_1,.bx_term_agree_2,.bx_term_agree_3{
		position: fixed;
		left:650px;
		border:1px solid #ccc;
		height:140px;
		max-width: 800px;
		overflow:hidden;
		overflow-y:scroll;
		color:#666;
	}
	
	.bx_term_agree_1 {
		margin-top:50px;
	}
	.bx_term_agree_2 {
		margin-top:240px;
	}
	.bx_term_agree_3 {
		margin-top:430px;
	}
	dt,dd{
		font-size: 12px;
	}
	.agree_tbl{
		
		text-align: center;
	}
	.agree_tbl th{
		border: 1px solid grey;
		height: 20px;
	}
	.agree_tbl td{
		border: 1px solid grey;
		height: 20px;
	}
	.term_headline{
		font-size: 12px;
	}